*.exe
*.dll
*.so
*.dylib
*.test
*.prof

vendor/
bin/

test_results/

.idea/
.vscode/
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
*.swp
*.bak

.env
*.env

log/
tmp/
*.log
*.tmp

dist/
build/