*.exe
*.dll
*.so
*.dylib
*.test
*.prof

kleff-auth-cli

vendor/
bin/

test_results/

.idea/
.vscode/
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
*.swp
*.bak

.env
.env.local
.env.*.local

log/
tmp/
*.log
*.tmp

dist/
build/